body{
    margin: 0;
    padding: 0;
    /*  font-family: Arial, "MS Trebuchet", sans-serif;*/
    font: normal 13px/17px Tahoma, "Trebuchet MS", Helvetica, sans-serif;
    /*  width: 960px;*/
/*    background: url(../images/grey_wash_wall.png);	*/
   background-color: black;
	background-attachment: fixed;
}

#page_header{ 
    background: grey;
    width: 1000px; 
    height: 100px;
    margin-top: -15px;
	margin-left: auto;
	margin-right: auto;
}

#wrapper{ 
	display: table;
    width: 1000px; 
	border: 3px solid blue;
margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------  navigation  ---------------------*/
.navigation {
    width: 1000px;
    height: 50px;
    border: 1px solid white;
    background: green;
    margin: 20px auto;
    border-radius: 7px;
    /*position: fixed;*/
}


#search{
	 float: right;
	margin: 10px;
	
}

/*--------------------------------------------------------  sidebar  ------------------------------------*/
#janr p{
	/*margin: 0 0 0 40px;*/
        margin: 0;
        padding-top: 8px;
        /*padding-bottom: auto;*/
       padding-left: 40px;
/*margin: 0;*/
        height: 25px;
       font-size: 15px;
       font-weight: bold;
       color: white;
       /*font-*/
}
#janr p:hover{
	cursor: pointer;
	background: green; 
        
}
/*------------------------------------------------------------  button  ------------------------------------*/
.onlineButton, .downloadButton{
	height: 30px;
	padding: 0 15px;
	text-shadow: 0 1px 0 #5f9d06;
	float: right;
	text-decoration: none;
	margin: 0 10px;
	background-color: #76b41a;
	border-radius: 7px;	
	display: block;
}
.onlineButton:hover, .downloadButton:hover {
	background-color: green;
        cursor: pointer;
}
.downloadButton{
	width: 220px;
	margin-top: -35px;
        display: block;
            text-align: justify;
}
.onlineButton{
	margin-top: -40px;
}
b{
	line-height: 30px;
	color: white;
}

/*---------------------------------------------------------------------------------*/
/*span {
    font-size: 40px;
    color: orange;
    cursor: pointer;
}

span:hover:before {
    content: "\2605";
    position: absolute;
    color: red;

}*/



.post_header  {
    /*background: cyan;*/	
    min-height: 30px;
}


.name {
    /*background: pink;*/
    text-align: left;
    	/*display: inline-block;*/
    font-size: 20px;
    margin-left: 10px;
    margin-top: 15px;
}

/*.name small {
    font-size: 15px;
}*/


/*.ratebox {
    margin-right: 50px;
    text-align: right;
    background: yellow;

    	display: inline-block;
    	position: relative;
}*/

td.key h5 {
    text-align: right;	
}



#sidebar{
    background: #0c0;;
    float: left;
    width: 200px;  
    margin-top: 10px;
    border-radius: 10px 0 0 10px;
}

#posts{
    margin: 10px auto;
    background: #aeaeae;
    float: right;
    width: 800px;
    border-radius: 0 10px 10px 0;
    text-align: justify;
    border-bottom: 5px solid cyan;
    display: inline-block;
}
#posts aside{
    background: yellow;
    float: right;
    margin-left: 5px;
    width: 35px;
    height: 200px;
    border-radius: 10px;
}

#posts h5 {
    color: white;	
    margin: 3px;
}

img {
    /*padding: 3px;*/	
    cursor: pointer;
    display: inline-block;
    background: yellow;
}

.post img {	
	margin: 5px 5px 1px 5px;
}
.data{ 
	/*background-color: #9eaeae;*/
	margin-left: 0px;
	height: 230px;
	width: 552px;
	display: inline-table;
	padding-top: 10px;
}
.description{
	/*background-color: #9eae00;*/
	/*height: 55px;*/
	width: 790px;
	margin: 5px 5px 40px 5px;
	overflow: hidden;
	display: inline-table;
	
/*
		background-color: #9eaeae;
	margin-left: 0px;
	height: 230px;
	width: 550px;
	display: inline-table;
	padding-top: 10px;
*/
}
.sec{
	display: inline-block;
        background-color: #aeaeae;
	width: 140px;
	margin: 2px 0 0 5px;
	text-align: right;
        font-weight: bold;
}
.category, 
.released,
.country,
.genre,
.regisser,
.acters,
.age_viewers,
.time_duration {
	display: inherit;
	background-color: #aeaeae;
	width : 395px;
	font-size: 13px;
	margin-left: 5px;
	
}
.ratingKinopoisk{
	margin-top: 10px;
	/*background-color: red;*/
        display: table;
	margin: -15px 0 0 30px;
	position: inherit;
}
.more {
	display: none;
	position: relative;
	background-color: grey;
	/*min-height: 200px;*/
	margin: 0 5px;
	
}
#youtubeColorRu{
        margin: 0 0 0 110px;
        display: none;
}



/*------------------------------------- to Top----------------------------------------------------------------*/
#up{
	
}
#toUp{
/*	cursor: pointer;*/
	position: fixed;
	bottom: 40px;
	right: 30px;
}
#toUp img{
	opacity: 0.3;
	
}
#toUp img:hover{
	opacity: 0.6;
}

/*-------------------------- table div --------------------------------------------------------------*/
.wrapperTable{
text-align: center;
}
.table{
   display:table;   
} 
.wrapperTable .row{
   display:table-row; 
   text-align:center; 
   width: 100px; 
} 
.wrapperTable .col{
    display:table-cell; 
    border:1px solid #aeaeae;
    width: 100px;
/*    text-align: center;
    display:table-cell;*/
} 
.rowHider{
    background-color: #8888ff;
}
/*----------------------------------------------------------------------------------------*/


a {
    /*	color: #37addd;*/
    text-decoration: none;
}

nav ul li {
    display: block;
    list-style: none;
   height: 30px;
   margin-left: 0;
   background-color: brown;

}

#posts footer {
    /*	display: inline-block;*/
    text-align: right;
    /*background: yellow;*/	
}

#clone {
    border-bottom: 5px solid black;
	min-height: 375px;
}
.imageContent {
	height: 310px;
        min-width: 200px; 
        max-width: 240px;
}
#clone img{
margin: 3px 3px 0 3px;	
}

tbody .top tr {
    background: yellow;
    display: block;
}

tbody .top tr td {
    background: #eaeaea;	
    border-bottom: 3px solid red;
}

article .post {
    margin-top: 20px;
    background: black;
}


#page_footer{
height: 30px;
    width: 100%; 
	background: grey;
}
