body{
  margin: 0 auto;
/*  font-family: Arial, "MS Trebuchet", sans-serif;*/
	font: normal 13px/17px Tahoma, "Trebuchet MS", Helvetica, sans-serif;
/*  width: 960px;*/
	background: url(../images/grey_wash_wall.png);	
}

/*p{ margin: 0 0 20px 0;}*/

/*p, li{ line-height: 20px; }*/

#page_header{ 
	background: yellow;
	width: 100%; 
}

#page_header > nav > ul, #page_footer > nav > ul{
	border: 1px solid black;
  list-style: none;
   margin: auto 10% ;
  padding: 10px;
	border-radius: 5px;
}

#page_header > nav > ul > li, #page_footer nav > ul > li{
  margin: 0 20px 0 0;
  padding: 0;
  display: inline;
}










div {
    width: 200px;
    margin: 50px auto;
}

span {
    font-size: 40px;
    color: orange;
    cursor: pointer;
}

span:hover:before {
    content: "\2605";
    position: absolute;
    color: red;
}








.post_header  {
background: cyan;	
/*height: 60px;*/
}

.post_header h2 {
/*display: inline-block;*/
	background: white;
}

.ratebox {
margin-right: 50px;
	text-align: right;
	background: yellow;
}



#sidebar{
	background: #0c0;;
  float: left;
  width: 15%;
	margin-left: 10%;
	margin-top: 10px;
	border-radius: 10px 0 0 10px;
}

#posts{
	margin: 10px auto;
	background: #f00;
  float: right;
  width: 65%;
	margin-right: 10%;
	border-radius: 0 10px 10px 0;
	 text-align: justify;
	border-bottom: 5px solid cyan;
	display: inline-block;
}
#posts aside{
	background: yellow;
  float: right;
  margin-left: 5px;
  width: 35px;
	height: 200px;
	border-radius: 10px;
}

img {
	padding: 3px;	
	cursor: pointer;
	display: inline-block;
	background: yellow;
}

.post img {
	margin-right: 15px;	
}

a {
/*	color: #37addd;*/
	text-decoration: none;
}

nav ul li {
	display: block;
	list-style: none;
	border: 1px solid red;
}

nav#top {
	display: inline-block;
border-bottom: 5px solid cyan ;	
	
}

#posts footer {
/*	display: inline-block;*/
	text-align: right;
background: yellow;	
}

.post {
border-bottom: 5px solid black;	
}

/*
tbody  {
	display: table-row-group;
}
*/

tbody .top tr {
	background: yellow;
	display: block;
}

tbody .top tr td {
background: #eaeaea;	
	border-bottom: 3px solid red;
}

b {
background: yellow;	
}
/*
nav img {
	background: cyan;
		display: bl;;
}
*/










#page_footer{
	background: yellow;
  clear: both;
  display: block; 
  text-align: center;
  width: 100%; 
}
