<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="pages/css/style.css"> 
        <link rel="stylesheet" href="pages/css/style2.css">
        <title>Торрент Копилка!</title>
        <script type="text/javascript" src="pages/js/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="pages/js/custom.js"></script>
    </head>

    <body>
        <header id="page_header"> 
            <h1>Торрент Копилка!</h1>
            
        <input id="getAll" type="button" value="all">
        <p id="result_all"></p>
        
        </header>

        <!--
              <div class="navigation">
                        <nav> 
                  <ul>
                    <li><a href="#">Последние добавленные</a></li>
                    <li><a href="#">Топ по скачке</a></li>
                    <li><a href="#">Топ по отзывам</a></li>
                    <li><a href="#">Топ по лайкам</a></li>
                  </ul>
                </nav>
              </div>
        -->


        <nav class="naws">
            <ul class="fancyNav">
                <li id="home"><a href="#home" class="homeIcon">Home</a></li>
                <li id="news"><a href="#news">Последние добавленные</a></li>
                <li id="about"><a href="#about">Топ по скачке</a></li>
                <li id="services"><a href="#services">Топ по отзывам</a></li>
                <li id="contact"><a href="#contact">Топ по лайкам</a></li>

                <!--
                                      <li id="services"><a href="#services">Services</a></li>
                                <li id="contact"><a href="#contact">Contact us</a></li>
                -->
            </ul>
        </nav>





        <section id="sidebar">

            <nav id="janr">
                <h3>Жанры:</h3>
                <ul>
                    <li>Боевики</li>
                    <li>Драмы</li>
                    <li>Ужасы</li>
                    <li>Комедии</li>
                    <li>Военные</li>
                    <li>Криминал</li>
                    <li>Триллеры</li>
                    <li>Детективы</li>
                    <li>Семейные</li>
                    <li>Мелодрамы</li>
                    <li>Фантастика</li>
                    <li>Приключения</li>
                    <li>Мультфильмы</li>
                    <li>Документальные</li>
                    <li>Спорт</li>
                </ul>
            </nav>

            <nav id="top">
                <h3>Топ 10 за неделю:</h3>                    

                <!--
                                        <ul class="top_10">
                                                    <img hspace="3" vspace="3" width="80" align="left" title="Профессионал (2014) " alt="Профессионал (2014) " src="images/fury.jpg">
                                                <li><a href="#">Фильм</a></li>
                                                <li><a href="#">Ярость</a></li>
                                                <li><a href="#">2014</a></li>
                                                <li><a href="#">Военный</a></li>
                                        </ul> 
                -->
                <table>
                    <tbody class="top">
                        <tr>
                            <td>
                                <a title="Дракула / Dracula Untold (2014) " href="#">
                                    <img hspace="3" vspace="3" width="80" align="left" title="Профессионал (2014) " alt="Профессионал (2014) " src="pages/images/fury.jpg">
                                    <b>Дракула / Dracula Untold (2014) </b><br>  
                                </a>    		
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a title="Дракула / Dracula Untold (2014) " href="#">
                                    <img hspace="3" vspace="3" width="80" align="left" title="Профессионал (2014) " alt="Профессионал (2014) " src="pages/images/fury.jpg">
                                    <b>Дракула / Dracula Untold (2014) </b><br>  
                                </a>    		
                            </td>
                        </tr>
                    </tbody>
                </table>
            </nav>

        </section>          


        <section id="posts">
            <article class="post">
                <div id="clone">
                    <header class="post_header">
                        <div class="name">Возмутитель спокойствия<small>/original name</small></div>
                        <div class="ratebox">
                            <div>
                                <span>☆<span>☆<span>☆<span>☆<span>☆<span>☆<span>☆<span>☆<span>☆<span>☆</span></span></span></span></span></span></span></span></span></span>
                            </div>	  
                        </div>
                    </header>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <a title="Возмутитель спокойствия (2014) " href="#">
                                        <img align="left" src="pages/images/voz.jpg" alt="Боргман: Возмутитель спокойствия / Borgman (2013) Скачать торрент" title="Боргман: Возмутитель спокойствия / Borgman (2013) Скачать торрент">
                                    </a>   
                                    <table>
                                        <tbody>
                                            <tr> 
                                                <td class="key">
                                                    <h3>Категория:</h3>
                                                    <h3>Год выхода: </h3>
                                                    <h3>Страна:</h3>
                                                    <h3>Жанр:</h3>
                                                    <h3>Режиссёр:</h3>
                                                    <h3>Актёры</h3>
                                                </td>
                                                <td class="value">
                                                    <h3 class="category">---</h3>
                                                    <h3 class="released">---</h3>
                                                    <h3 class="country">---</h3>
                                                    <h3 class="genre">---</h3>
                                                    <h3 class="regisser">---</h3>
                                                    <h3 class="acters">---</h3>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>



                                    <p class="description"><big>Описание:</big> 1 One way you can keep a conversation going is to avoid asking questions that have yes or no answers. For example, if you're selling a service
                        plan, don't ever ask &ldquo;Are you interested in our 3 or 5 year 
                        service plan?
                        2 - One way you can keep a conversation going is to avoid asking questions that have yes or no answers. For example, if you're selling a service
                        plan, don't ever ask &ldquo;Are you interested in our 3 or 5 year 
                        service plan?
                        3 - One way you can keep a conversation going is to avoid asking questions that have yes or no answers. For example, if you're selling a service
                        plan, don't ever ask &ldquo;Are you interested in our 3 or 5 year 
                        service plan?
                        4 - One way you can keep a conversation going is to avoid asking questions that have yes or no answers. For example, if you're selling a service
                        plan, don't ever ask &ldquo;Are you interested in our 3 or 5 year 
                        service plan?
                        5 - One way you can keep a conversation going is to avoid asking questions that have yes or no answers. For example, if you're selling a service
                        plan, don't ever ask &ldquo;Are you interested in our 3 or 5 year 
                        service plan?
                        <!--           <button>Подробнее ></button>-->
                        </p>
                        <footer>
                            <button>Подробнее >>></button>
                        </footer>
                        </td>
                        <aside>
                            <p>  ****** </p>
                            <p>  ****** </p>
                            <p>  ****** </p>
                        </aside>

                        </tr>
                        </tbody>
                    </table>
                    <!--	<separator>***********</separator>-->


                </div>

            </article>
        </section>


        <footer id="page_footer">
            <p>Copyright © 2014 AwesomeCo.</p>
            <nav>
                <ul>   
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Terms of Service</a></li>
                    <li><a href="#">Privacy</a></li>
                </ul>
            </nav>
        </footer>
    </body>
</html>








<!--
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
        <script type="text/javascript" src="/pages/js/jquery.min.js"></script>
        <title>HTML Page</title>

    </head>
    <body>
        <h1>Hello World!</h1>
        <h1>Hello <input id="imp1" type="text"></h1>
        <h1 id="p1">Hello Torrent!</h1>
             
        
        <div data-th-each="phoneBalance : ${phoneBalances}">
            <div>
                +7<span th:text="${one}"/> : <span th:text="${phoneBalance.balance}"/> руб.
            </div>
        </div>
    </body>
</html>
-->