<!DOCTYPE html>
<html lang="ru" content="text/html; charset=windows-1251">
    <head>
        <meta charset="utf-8">


        <link rel="stylesheet" href="./pages/css/style.css"> 
        <link rel="stylesheet" href="./pages/css/style2.css">



        <!--
                        <link rel="stylesheet" href="css/style.css"> 
                        <link rel="stylesheet" href="css/style2.css">
        -->


        <title>Копилка! HTML</title>


        <script type="text/javascript" src="./pages/js/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="./pages/js/index.js"></script>



        <!--
                        <script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
                        <script type="text/javascript" src="js/index.js"></script>
        -->

    </head>

    <body>
        <header id="page_header"> 
            <h1>Копилка!</h1>

            -----------------------------------------------------------------------------------------<input id="getLast" type="button" value="getLast">
            ***
            <p id="result_all"></p>

        </header>


        <!--
                      <div class="navigation">
                                <nav> 
                          <ul>
                            <li><a href="#">Последние добавленные</a></li>
                            <li><a href="#">Топ по скачке</a></li>
                            <li><a href="#">Топ по отзывам</a></li>
                            <li><a href="#">Топ по лайкам</a></li>
                          </ul>
                        </nav>
                      </div>
        -->



        <nav class="naws">
            <ul class="fancyNav">
                <li id="home"><a href="#home" class="homeIcon">Home</a></li>
                <li id="news"><a href="#news">Последние добавленные</a></li>
                <li id="about"><a href="#about">Топ по скачке</a></li>
                <li id="services"><a href="#services">Топ по отзывам</a></li>
                <li id="contact"><a href="#contact">Топ по лайкам</a></li>

                <!--
                                      <li id="services"><a href="#services">Services</a></li>
                                <li id="contact"><a href="#contact">Contact us</a></li>
                -->
            </ul>
        </nav>




        <section id="wrapper">

            <section id="sidebar">

                <nav id="janr">
                    <h3>Жанры:</h3>
                    <ul>
                        <li>Боевики</li>
                        <li>Драмы</li>
                        <li>Ужасы</li>
                        <li>Комедии</li>
                        <li>Военные</li>
                        <li>Криминал</li>
                        <li>Триллеры</li>
                        <li>Детективы</li>
                        <li>Семейные</li>
                        <li>Мелодрамы</li>
                        <li>Фантастика</li>
                        <li>Приключения</li>
                        <li>Мультфильмы</li>
                        <li>Документальные</li>
                        <li>Спорт</li>
                    </ul>
                </nav>

                <h3>Топ 10 за неделю:</h3>  
                <nav id="top">


                    <!--
                                            <ul class="top_10">
                                                        <img hspace="3" vspace="3" width="80" align="left" title="Профессионал (2014) " alt="Профессионал (2014) " src="images/fury.jpg">
                                                    <li><a href="#">Фильм</a></li>
                                                    <li><a href="#">Ярость</a></li>
                                                    <li><a href="#">2014</a></li>
                                                    <li><a href="#">Военный</a></li>
                                            </ul> 
                    -->
                    <table>
                        <tbody class="top">
                            <tr>
                                <td>
                                    <a title="Дракула / Dracula Untold (2014) " href="#">
                                        <img hspace="3" vspace="3" width="80" align="left" title="Профессионал (2014) " alt="Профессионал (2014) " src="pages/images/fury.jpg">
                                        <!--                                        <img hspace="3" vspace="3" width="80" align="left" title="Профессионал (2014) " alt="Профессионал (2014) " src="images/fury.jpg">-->

                                        <b>Дракула / Dracula Untold (2014) </b><br>  
                                    </a>    		
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </nav>

            </section>          


            <section id="posts">
                <article class="post">

                    <div id="clone">
                        <header class="post_header">
                            <div class="name">Ярость---</div>
                            <div class="ratebox">
                                <div>
                                    <span>☆<span>☆<span>☆<span>☆<span>☆</span></span></span></span></span>
                                </div>	  
                            </div>
                        </header>

                        <!--                        <img class="imageContent" align="left" src="images/2.jpg" alt="Боргман: Возмутитель спокойствия" title="Боргман: Возмутитель спокойстви">-->
                        <img class="imageContent" align="left" src="pages/images/2.jpg" alt="Боргман: Возмутитель спокойствия" title="Боргман: Возмутитель спокойстви">

                        <section class="data">
                            <p class="sec">Категория:</p>
                            <div class="category">...</div>
                            <p class="sec">Дата выхода:</p>
                            <div class="released">...</div>	
                            <p class="sec">Страна:</p>
                            <div class="country">...</div> 
                            <p class="sec">Жанр:</p>
                            <div class="genre">...</div>					                      	 
                            <p class="sec">Режиссёр:</p>
                            <div class="regisser">...</div>                        	 						
                            <p class="sec">Актёры:</p>
                            <div class="acters">...</div>												
                            <p class="sec">Возростная группа:</p>
                            <div class="age_viewers">...</div>																		
                            <p class="sec">Продолжительность:</p>
                            <div class="time_duration">...</div>		
                            <p class="sec">
                            <div class="ratingKinopoisk">
                                <a href='http://www.kinopoisk.ru/film/463897/'><img src='http://rating.kinopoisk.ru/463897.gif' border='0'></a> 
                            </div>
                            </p>																												

                        </section>
                        <section class="descript">
                            <div class="description">...</div>
                        </section>
                        <footer>
                            <button>Скачать торрент >>></button>
                        </footer>


                        <!--
                                                <table>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <a title="Возмутитель спокойствия (2014) " href="#">
                                                                    <img class="imageContent" align="left" src="pages/images/2.jpg" alt="Боргман: Возмутитель спокойствия" title="Боргман: Возмутитель спокойствия">
                                                                    <img class="last" align="left" src="images/2.jpg" alt="Боргман: Возмутитель спокойствия" title="Боргман: Возмутитель спокойстви">
                            
                                                                </a>  
                                                                <table>
                                                                    <tbody>
                                                                        <tr> 
                                                                            <td class="key">
                                                                                <h5>Категория:</h5>
                                                                                <h5>Дата выхода: </h5>                                                
                                                                                <h5>Страна:</h5>
                                                                                <h5>Жанр:</h5>
                                                                                <h5>Режиссёр:</h5>
                                                                                <h5>Актёры:</h5>
                                                                                <h5>Возростная группа:</h5>
                                                                                <h5>Продолжительность:</h5>
                                                                            </td>
                                                                            <td class="value">
                                                                                <h5 class="category">---</h5>
                                                                                <h5 class="released">---</h5>
                                                                                <h5 class="country">---</h5>
                                                                                <h5 class="genre">---</h5>
                                                                                <h5 class="regisser">---</h5>
                                                                                <h5 class="acters">Неугомонный Шерлок Холмс и его верная спутница и протеже Ватсон возвращаются на телеэкраны в новом 3 сезоне. Нас ждут новые невероятные расследования, где Шерлок всегда найдёт нужные улики и обязательно разыщет преступника.</h5>
                                                                                <h5 class="age_viewers">---</h5>
                                                                                <h5 class="time_duration">---</h5>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                                <table>
                                                                    <tbody>
                                                                        <tr> 
                                                                            <td class="ratingKinopoisk">
                                                                                <a href='http://www.kinopoisk.ru/film/463897/'><img src='http://rating.kinopoisk.ru/463897.gif' border='0'></a> 
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                                <p> <big>Описание:</big><b class="description"> Возможно для этого фильма ещё нет описания :( Sorry!------------------------------------------------------------------------------</b>
                                                               <button>Подробнее ></button>
                        -->
                        <!--
                                                    </p>
                                                    <footer>
                                                        <button>Скачать торрент >>></button>
                                                    </footer>
                                                    </td>
                                                    
                                                                                <aside>
                                                                                    <p>  ****** </p>
                                                                                    <p>  ****** </p>
                                                                                    <p>  ****** </p>
                                                                                </aside>
                                                    
                                                    </tr>
                                                    </tbody>
                                                </table>
                        -->


                    </div>
                </article>
            </section>
        </section>  

        <footer id="page_footer">
            <p>© 2015</p>
            <nav>
                <ul>   
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Terms of Service</a></li>
                    <li><a href="#">Privacy</a></li>
                </ul>
            </nav>
        </footer>
    </body>
</html>








<!--
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
        <script type="text/javascript" src="/pages/js/jquery.min.js"></script>
        <title>HTML Page</title>

    </head>
    <body>
        <h1>Hello World!</h1>
        <h1>Hello <input id="imp1" type="text"></h1>
        <h1 id="p1">Hello Torrent!</h1>
             
        
        <div data-th-each="phoneBalance : ${phoneBalances}">
            <div>
                +7<span th:text="${one}"/> : <span th:text="${phoneBalance.balance}"/> руб.
            </div>
        </div>
    </body>
</html>
-->